In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load Existing SCOP data from CSV
df = pd.read_csv('/scratch/gpfs/jr8867/main/db/scop_data.csv')
df

,index,uid,fa,sf,seq
0,0,Q03131,4000119,3000038,MSGPRSRTTSRRTPVRIGAVVVASSTSELLDGLAAVADGRPHASVV...
1,1,P09147,4000088,3000038,MRVLVTGGSGYIGSHTCVQLLQNGHDVIILDNLCNSKRSVLPVIER...
2,2,P61889,4000045,3000039,MKVAVLGAAGGIGQALALLLKTQLPSGSELSLYDIAPVTPGVAVDL...
3,3,P00334,4000029,3000038,MSFTLTNKNVIFVAGLGGIGLDTSKELLKRDLKNLVILDRIENPAA...
4,4,O33830,4000089,3000039,MPSVKIGIIGAGSAVFSLRLVSDLCKTPGLSGSTVTLMDIDEERLD...
...,...,...,...,...,...
35972,35972,P20585,4004015,3000587,MSRRKPASGGLAASSSAPARQAVLSRFFQSTGSLKSTSSSTGAADQ...
35973,35973,P20585,4004015,3002020,MSRRKPASGGLAASSSAPARQAVLSRFFQSTGSLKSTSSSTGAADQ...
35974,35974,P52701,4004015,3001688,MSRQSTLYSFFPKSPALSDANKASARASREGGRAAAAPGASPSPGG...
35975,35975,P52701,4004015,3000587,MSRQSTLYSFFPKSPALSDANKASARASREGGRAAAAPGASPSPGG...
35976,35976,P52701,4004015,3002020,MSRQSTLYSFFPKSPALSDANKASARASREGGRAAAAPGASPSPGG...

# Import SCOP Dataset

In [3]:
scop_path = "/scratch/gpfs/jr8867/datasets/scop/scop-cla.txt"

In [4]:
with open(scop_path, "r") as f:
    # First loop to skip lines starting with #
    for line in f:
        if line.startswith("#"): continue
        else: break

    # Second loop to process the remaining lines
    processed_scop_data = [line.strip().split() for line in f]
    
    # Create list of dictionaries for the main data
    records = []
    for i, parts in enumerate(processed_scop_data):
        record = {
            'i': i,
            "FA-DOMID": parts[0],
            "FA-PDBID": parts[1], 
            "FA-PDBREG": parts[2],
            "FA-UNIID": parts[3],
            "FA-UNIREG": parts[4],
            "SF-DOMID": parts[5],
            "SF-PDBID": parts[6],
            "SF-PDBREG": parts[7],
            "SF-UNIID": parts[8],
            "SF-UNIREG": parts[9]
        }
        # Parse SCOPCLA separately
        scopcla = {part.split('=')[0]: part.split('=')[1] for part in parts[10].split(',')}
        record.update(scopcla)
        records.append(record)
    
    scop_df = pd.DataFrame.from_records(records)
with open(scop_path, "r") as f:
    # First loop to skip lines starting with #
    for line in f:
        if line.startswith("#"): continue
        else: break

    # Second loop to process the remaining lines
    processed_scop_data = [line.strip().split() for line in f]
    
    # Create list of dictionaries for the main data
    records = []
    for i, parts in enumerate(processed_scop_data):
        record = {
            'i': i,
            "FA-DOMID": parts[0],
            "FA-PDBID": parts[1], 
            "FA-PDBREG": parts[2],
            "FA-UNIID": parts[3],
            "FA-UNIREG": parts[4],
            "SF-DOMID": parts[5],
            "SF-PDBID": parts[6],
            "SF-PDBREG": parts[7],
            "SF-UNIID": parts[8],
            "SF-UNIREG": parts[9]
        }
        # Parse SCOPCLA separately
        scopcla = {part.split('=')[0]: part.split('=')[1] for part in parts[10].split(',')}
        record.update(scopcla)
        records.append(record)
    
    scop_df = pd.DataFrame.from_records(records)
with open(scop_path, "r") as f:
    # First loop to skip lines starting with #
    for line in f:
        if line.startswith("#"): continue
        else: break

    # Second loop to process the remaining lines
    processed_scop_data = [line.strip().split() for line in f]
    
    # Create list of dictionaries for the main data
    records = []
    for i, parts in enumerate(processed_scop_data):
        record = {
            'i': i,
            "FA-DOMID": parts[0],
            "FA-PDBID": parts[1], 
            "FA-PDBREG": parts[2],
            "FA-UNIID": parts[3],
            "FA-UNIREG": parts[4],
            "SF-DOMID": parts[5],
            "SF-PDBID": parts[6],
            "SF-PDBREG": parts[7],
            "SF-UNIID": parts[8],
            "SF-UNIREG": parts[9]
        }
        # Parse SCOPCLA separately
        scopcla = {part.split('=')[0]: part.split('=')[1] for part in parts[10].split(',')}
        record.update(scopcla)
        records.append(record)
    
    scop_df = pd.DataFrame.from_records(records)
scop_df

,i,FA-DOMID,FA-PDBID,FA-PDBREG,FA-UNIID,FA-UNIREG,SF-DOMID,SF-PDBID,SF-PDBREG,SF-UNIID,SF-UNIREG,TP,CL,CF,SF,FA
0,0,8000376,2FR0,A:1448-1915,Q03131,1395-1862,8000377,2FR0,A:1657-1915,Q03131,1604-1862,1,1000002,2000148,3000038,4000119
1,1,8000693,1UDC,A:1-338,P09147,1-338,8000694,1UDC,A:1-263,P09147,1-263,1,1000002,2000148,3000038,4000088
2,2,8000768,2PWZ,A:1-312,P61889,1-312,8000769,2PWZ,A:1-312,P61889,1-312,1,1000002,2000005,3000039,4000045
3,3,8000794,1MG5,A:1-255,P00334,2-256,8001233,1MG5,A:1-240,P00334,2-241,1,1000002,2000148,3000038,4000029
4,4,8000805,1OBB,A:2-480,O33830,2-480,8001235,1OBB,A:2-480,O33830,2-480,1,1000002,2000005,3000039,4000089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36894,36894,8018581,3THX,B:217-1120,P20585,226-1129,8056712,3THX,B:357-507,P20585,366-516,1,1000002,2001251,3000587,4004015
36895,36895,8018581,3THX,B:217-1120,P20585,226-1129,8056714,3THX,B:845-1053,P20585,854-1062,1,1000002,2001251,3002020,4004015
36896,36896,8018583,2O8B,B:362-1335,P52701,362-1335,8056718,2O8B,B:423-487,P52701,423-487,1,1000002,2001251,3001688,4004015
36897,36897,8018583,2O8B,B:362-1335,P52701,362-1335,8056719,2O8B,B:537-697,P52701,537-697,1,1000002,2001251,3000587,4004015
36898,36898,8018583,2O8B,B:362-1335,P52701,362-1335,8056721,2O8B,B:1086-1292,P52701,1086-1292,1,1000002,2001251,3002020,4004015

In [5]:
# Create a mapping from (FA, SF, SF-UNIID) in scop_df to CF
mapping = {}
for _, row in scop_df.iterrows():
    key = (row['FA'], row['SF'], row['SF-UNIID'])
    mapping[key] = row['CF']

# Convert df columns to match the types in scop_df
df['fa_str'] = df['fa'].astype(str)
df['sf_str'] = df['sf'].astype(str)

# Add the fold column to df by looking up the corresponding CF value
df['fold'] = df.apply(lambda row: mapping.get((row['fa_str'], row['sf_str'], row['uid']), None), axis=1)

# Check how many rows have fold information
print(f"Rows with fold information: {df['fold'].notna().sum()} out of {len(df)}")

df = df[['index', 'uid', 'fa', 'sf', 'fold', 'seq']]
df

Rows with fold information: 35977 out of 35977

,index,uid,fa,sf,fold,seq
0,0,Q03131,4000119,3000038,2000148,MSGPRSRTTSRRTPVRIGAVVVASSTSELLDGLAAVADGRPHASVV...
1,1,P09147,4000088,3000038,2000148,MRVLVTGGSGYIGSHTCVQLLQNGHDVIILDNLCNSKRSVLPVIER...
2,2,P61889,4000045,3000039,2000005,MKVAVLGAAGGIGQALALLLKTQLPSGSELSLYDIAPVTPGVAVDL...
3,3,P00334,4000029,3000038,2000148,MSFTLTNKNVIFVAGLGGIGLDTSKELLKRDLKNLVILDRIENPAA...
4,4,O33830,4000089,3000039,2000005,MPSVKIGIIGAGSAVFSLRLVSDLCKTPGLSGSTVTLMDIDEERLD...
...,...,...,...,...,...,...
35972,35972,P20585,4004015,3000587,2001251,MSRRKPASGGLAASSSAPARQAVLSRFFQSTGSLKSTSSSTGAADQ...
35973,35973,P20585,4004015,3002020,2001251,MSRRKPASGGLAASSSAPARQAVLSRFFQSTGSLKSTSSSTGAADQ...
35974,35974,P52701,4004015,3001688,2001251,MSRQSTLYSFFPKSPALSDANKASARASREGGRAAAAPGASPSPGG...
35975,35975,P52701,4004015,3000587,2001251,MSRQSTLYSFFPKSPALSDANKASARASREGGRAAAAPGASPSPGG...
35976,35976,P52701,4004015,3002020,2001251,MSRQSTLYSFFPKSPALSDANKASARASREGGRAAAAPGASPSPGG...

In [6]:
df.to_csv('/scratch/gpfs/jr8867/main/db/scop_data_fold.csv', index=False)